.ErrorModalContainer {
    width: 100vw;
    height: 100vh;

    z-index: 100;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.450);
    .ErrorModal {
        background-color: #fff;
        width: 80%;
        text-align: center;
        padding: 5vh 5%;
        img {
            // width: 10%;
        }
        h1{
            font-size: 2em;
            margin-bottom: 4vh;
        }
        p{
            font-size: 1.5em;
            margin-bottom: 4vh;

        }
        button {
            font-size: 1.5em;
        }
    }
}

