.mapComponent {
    height: 100vh;
}
.map-container{
    height: 100vh;
}
.optionMenu {
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

}
.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
}

.mapboxgl-ctrl-icon {
    border-radius: 5px;

    background: rgba( 233, 180, 131, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 233, 180, 131, 0.18 );
}