.ReportModal {
    width: 70vw;
    height: 70vh;
    z-index: 100;
    position: fixed;
    left: 10vw;
    bottom: -81vh;
    /* -80vh HIDE */
    padding: 5vh 5vw;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
     border: #000 1px solid;

    form {
        // border: #000 1px solid;
        height: 100%;
        text-align: center;
        .closeModal {
            position: absolute;
            top: 3%;
            right: 8%;
        }
        h3 {

        }
        .errorType {
            width: 70%;
        }
    }
}
