.mapComponent {
    height: 100vh;
}
.map-container{
    height: 100vh;
}
.optionMenu {
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

}
.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
}
.mapboxgl-popup-content {
    padding: 15%;
    cursor: pointer;
}
.reportButton {
    
}